@model IEnumerable<BudgetCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>List of budget categories</h1>

<table class="table table-hover text-center text-capitalize table-sm">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category 1</th>
            <th scope="col">Category 2</th>
            <th scope="col">Category 3</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
        <tr>
            <td>@category.Id</td>
            <td>@category.Level1Category.Name</td>
            <td>@category.Level2Category.Name</td>
            <td>@category.Level3Category.Name</td>


            <td>
                @if (SignInManager.IsSignedIn(User) && (UserManager.GetUserId(User) == category.OwnerId))
                {
                    <div class="btn-group float-right" role="group">
                        <a asp-action="edit" asp-controller="BudgetCategories" asp-route-id="@category.Id" class="btn btn-outline-primary btn-sm" style="width:auto"><i class="far fa-edit"></i></a>
                        <a asp-action="delete" asp-controller="BudgetCategories" asp-route-id="@category.Id" class="btn btn-outline-danger btn-sm form-inline" style="width:auto"><i class="far fa-trash-alt"></i></a>
                    </div>                  
                }
            </td>
        </tr>
        }


    </tbody>
</table>
