@model IEnumerable<Product>
@{

    ViewBag.Title = "Product List";

}

<div class="card-deck">
    @foreach (var product in Model)
    {
        var photoPath = "~/Images/" + (product.PhotoPath ?? "placeholder-image.jpg");
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <h5>@product.Name</h5>
            </div>
            <img class="card-img-top imageTumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="products" asp-action="details" asp-route-id="@product.Id" class="btn btn-primary btn-sm m-1">View</a>
                <a asp-action="edit" asp-controller="products" asp-route-id="@product.Id" class="btn btn-primary btn-sm m-1">Edit</a>
                <a href="#" class="btn btn-danger btn-sm m-1">Delete</a>
            </div>
        </div>
    }
</div>

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">EAN</th>
            <th scope="col">Qty</th>
            <th scope="col">Unit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td>@product.Name</td>
            <td>@product.EAN</td>
            <td>@product.Qty</td>
            <td>@product.Unit</td>
            <td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-action="edit" asp-controller="Products" asp-route-id="@product.Id" class="btn btn-outline-primary btn-sm">Edit</a> <a asp-action="delete" asp-controller="Products" asp-route-id="@product.Id" class="btn btn-outline-danger btn-sm form-inline">Delete</a>
                }
            </td>
        </tr>
        }


    </tbody>
</table>
