@model IEnumerable<Product>
@{

    ViewBag.Title = "Product List";

}

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">EAN</th>
            
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td>@product.Name</td>
            <td>@product.EAN</td>
            
            <td>@product.BudgetCategory.Name</td>
            
            <td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="btn-group float-right" role="group">
                        <a asp-action="edit" asp-controller="Products" asp-route-id="@product.Id" class="btn btn-outline-primary btn-sm" style="width:auto"><i class="far fa-edit"></i></a>
                        <a asp-action="delete" asp-controller="Products" asp-route-id="@product.Id" class="btn btn-outline-danger btn-sm form-inline" style="width:auto"><i class="far fa-trash-alt"></i></a>
                    </div>
                    
                 }
            </td>
        </tr>
        }


    </tbody>
</table>
